@model sistema.Models.VentaBaseViewModel

@{

}

<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
            <span>Datos de la venta</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2">
            <span>Detalle de la venta</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-3">
            <span>Agregar Productos</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-4">
            <span>Envío</span>
        </a>
    </li>
</ul>


<div class="form-row">
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                <div class="form">
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                @* <button class="btn btn-primary" onclick="">prueba</button> *@
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">No.
                                                Comprobante</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @Html.TextBoxFor(a => a.Venta.NoComprobante, new
                                                                           {@class="form-control",@id="nocomprobante", @placeholder="No. Comprobante" })
                                            @Html.ValidationMessageFor(a => a.Venta.NoComprobante, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">Código Del Vendedor</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @* @Html.TextBoxFor(a => a.Venta.EmpleadoId, new{@class="form-control",@id="empleadoid", @placeholder="Código Empleado"}) *@
                                            <input class="form-control" asp-for="Venta.EmpleadoId" placeholder="Código Empleado" id="empleadoid">
                                            @Html.ValidationMessageFor(a => a.Venta.EmpleadoId, "", new { @class = "text-danger"})
                                        </div>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label>Cliente</label>
                                        <select class="form-control select2bs4 selectcliente" style="width: 100%;" asp-for="Venta.ClientesId" asp-items="@Model.ListaClientes" id="clienteselect">
                                            <option selected="selected">--- CF ---</option>
                                        </select>
    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">Nit</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @* @Html.TextBoxFor(a => a.Venta.Nit, new {@class="form-control",@id="Nit", @placeholder="Nit", @Value="222"}) *@
                                            <input class="form-control" id="Nit" placeholder="Nit" asp-for="Venta.Nit">
                                            @Html.ValidationMessageFor(a => a.Venta.Nit, "", new { @class ="text-danger"})
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="position-relative form-group"><label class="">Direccion</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @Html.TextBoxFor(a => a.Venta.Direccion, new {@class="form-control",@id="direccion", @placeholder="Direccion"})
                                            @Html.ValidationMessageFor(a => a.Venta.Direccion, "", new { @class = "text-danger"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>




            <div class="tab-pane tabs-animation fade show " id="tab-content-2" role="tabpanel">

                <div class="main-card mb-3 card">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class='table table-hover' id="tableventa">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>  %  </th>
                                        <th>Descuento</th>
                                        <th>Subtotal</th>
                                        <th>Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="contentdetalle">

                                    @if(Model.Venta != null)
                                    {
                                        foreach (var item in Model.Venta.DetalleVenta)
                                        {
                                        <tr>
                                        <td>@item.Producto.CodigoReferencia</td>
                                        <td>@item.Producto.NombreProducto</td>
                                        <td>@item.Cantidad</td>
                                        <td>@item.Precio</td>
                                        <td>@item.Total</td>
                                        <td><button  type="button"  class="btn btn-danger btn-sm" onclick="eliminarFila(this,@item.Precio)">Quitar</button></td>
                                        <td style="display: none;" class="idProd">@item.Id</td>
                                    </tr>

                                    }
                                    }

                                </tbody>
                                
                            </table>


                        </div>

                            <br/>
                            
                            <div class="text-right" style="font-size: 25px;">
                                <span>Subtotal:</span> 
                            Q <span id="subtotal-venta">0.00</span> 
                            </div> 

                            <div class="text-right"  style="font-size: 25px;">
                                 <span>Descuento:</span> 
                                 Q <span id="descuento-venta">0.00</span>           
                            @* Q <label id="descuentoventa" contenteditable="true" style="white-space:nowrap; word-wrap: break-word;">0.00</label>  *@
                            </div> 

                            <div class="text-right" style="font-size: 25px;">
                                <span>Total:</span> 
                            Q <span id="precio-total-a-pagar">0.00</span> 
                            </div> 


                        @* <h1>Detalle de la venta</h1> *@

                    </div>
                </div>
            </div>

                <div class="tab-pane tabs-animation fade show " id="tab-content-3" role="tabpanel">
                                                <br />
                            <form asp-action="Nuevo" method="get">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <input value="Buscar" class="btn btn-success" onclick="FiltrarProductos(document.getElementById('buscarfiltro').value)"></input>
                                        </div>
                                        <input type="text" name="buscar" id="buscarfiltro" class="form-control"
                                            placeholder="Buscar Producto...">
                                    </div>
                                </div>
                            </form>
                            <br />

                            <div class="main-card mb-6 card">
                                <div class="container-fluid">
                                    <div class="card-body my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                        <div class="card-deck-wrapper">
                                            <div class="card-deck">
                                                <div class="row" id="listafiltro" style="width: 100%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>

             <div class="tab-pane tabs-animation fade show " id="tab-content-4" role="tabpanel">
                    <div class="form">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">



                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label>Usuario de piloto</label>
                                        <select class="form-control select2bs4 selectrutas" style="width: 100%;"
                                             id="usuarioselect">
                                              <option selected value="">Sin Asignar</option>
                                             @foreach(var item in Model.ListaUsuarios){
                                               
                                                  
                                                     <option value="@item.Id">@item.UserName</option>
                                             }
                                            
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Ruta</label>
                                        <select class="form-control select2bs4 selectrutas" style="width: 100%;"
                                            asp-for="Envio.RutaId" asp-items="@Model.ListaRutas" id="rutaselect">
                                        </select>
    
                                    </div>

                                </div>
                                 <div class="form-row">
                                    <div class="col-md-12">
                                        @* <div class="position-relative form-group"><label class="">Fecha Entrega</label>
                                           
                                            @Html.TextBoxFor(a => a.Envio.FechaEntrega, new
                                                                           {type="date",@class="form-control",@id="fechalimite",
                                                                               @placeholder="Fecha Inicio"})
                                            @Html.ValidationMessageFor(a => a.Envio.FechaEntrega, "", new { @class =
                                                                               "text-danger"})
                                        </div> *@

                                        <label>Fecha y Hora de entrega</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control float-right" id="reservationtime">
                                        </div>
                                   
                                    </div>
                                  
                                </div>
                                <div class="form-row">
                                    
                                    <div class="col-md-12">
                                 <div class="position-relative form-group">
                                  <label class="">Direccion Exacta</label>
                                 @Html.TextAreaFor(a => a.Envio.DireccionExacta,5,500 ,htmlAttributes : new {
                                       @class="form-control ", @placeholder="Direccion Exacta", @id="direccionexacta", @style="max-width:100% !important;"})
                                  @Html.ValidationMessageFor(a => a.Envio.DireccionExacta, "", new { @class = "text-danger"})
                                </div>
                                 </div>
                                
                                </div>
                                </div>

                               
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>

    </div>



