@using Database.Shared.Paginacion;
@model PaginacionList<Database.Shared.Models.Empleado>

@{
    ViewData["Title"] = "Lista Productos";
}

@await Html.PartialAsync("_MensajeExito")

<br />
<form asp-action="Lista" method="get">
    
    <br />
    <div class="col-md-12">
        <div class="input-group">

            <div class="input-group-prepend">
                <input type="submit" value="Buscar" class="btn btn-success"></input>
            </div>
            <input type="text" name="buscar" value="@ViewData["CurrentFilter"]" class="form-control"
                placeholder="Buscar Empleado...">
        </div>
    </div>
</form>
<br />

<div class="col-md-12">
        <a href="@Url.Action("EmpleadosPdf","CrearPDF")" class="btn btn-warning">
            Reporte
        </a>
</div>

<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="mb-0 table table-hover ">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Direccion</th>
                            <th>Edad</th>
                            <th>Telefono</th>
                            <th>Dpi</th>
                            <th>Nit</th>
                            <th>Estado Civil</th>
                            <th>Observaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido</td>
                                <td>@item.Direccion</td>
                                <td>@item.Edad</td>
                                <td>@item.Telefono</td>
                                <td>@item.Dpi</td>
                                <td>@item.Nit</td>
                                <td>@item.EstadoCivil</td>
                                <td>@item.Observaciones</td>
                                <td>
                                    <a href="@Url.Action("Modificar","Empleado", new {id = @item.Id})"
                                        class="btn btn-warning">
                                        Modificar
                                    </a>
                                    <a href="@Url.Action("Eliminar","Empleado", new {id = @item.Id})"
                                        class="btn btn-danger">
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}




<a asp-action="Lista" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger btn-sm @prevDisabled">
    Anterior
</a>
<a asp-action="Lista" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger btn-sm @nextDisabled" class="">
    Siguiente
</a>