@using Database.Shared.Paginacion;
@model PaginacionList<Database.Shared.Models.VentaServicio>

@{
    ViewData["Title"] = "Lista Servicios";
}


<br />
<form asp-action="Lista" method="get">
    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-prepend">
                <input type="submit" value="Buscar" class="btn btn-success"></input>
            </div>
            <input type="text" name="buscar" value="@ViewData["CurrentFilter"]" class="form-control"
                placeholder="Buscar Venta De Servicio...">
        </div>
    </div>
</form>
<br />
<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="mb-0 table table-hover ">
                    <thead>
                        <tr>
                            <th>Fecha Venta</th>
                            <th>Venta Servicio #</th>
                            <th>Vendedor</th>
                            <th>NoComprobante</th>
                            <th>Nombre</th>
                            <th>Cliente</th>
                            <th>Nit</th>
                            <th>Forma de Pago</th>
                            <th>Dirección</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FechaVenta</td>
                                <td>@item.Id</td>
                                <td>@item.Empleado.Nombre</td>
                                <td>@item.NoComprobante</td>
                                <td>@item.Nombres</td>
                                <td>@item.Paciente.Nombre</td>
                                <td>@item.Nit</td>
                                <td>@item.FormaPago</td>
                                <td>@item.Direccion</td>
                                <td>Q @item.DetalleServicio.Sum(a => a.Total)</td>
                                <td>
                                    <a href="@Url.Action("Modificar","VentaServicio", new {id = @item.Id})"
                                        class="btn btn-primary">
                                        Ver detalles
                                    </a>
                                     <a href="@Url.Action("ReciboServicios","CrearPDF", new {id = @item.Id})" class="btn btn-danger">
                                        <i class="fas fa-file-pdf"></i> Recibo
                                    </a>
                                    <a href="@Url.Action("AnularVenta","VentaServicio", new {id = @item.Id})" class="btn btn-danger">
                                        <i class="fas fa-minus-circle"></i> Anular
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Lista" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger btn-sm @prevDisabled">
    Anterior
</a>
<a asp-action="Lista" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger btn-sm @nextDisabled" class="">
    Siguiente
</a>