@model sistema.Models.CompraBaseViewModel


<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
            <span>Datos de la Compra</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2">
            <span>Detalle de la Compra</span>
        </a>
    </li>

    @* <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-4">
            <span>Envio</span>
        </a>
    </li> *@
</ul>


<div class="form-row">
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                <div class="form">
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                @* <button class="btn btn-primary" onclick="">prueba</button> *@
                                                               <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">No.
                                                Comprobante</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @Html.TextBoxFor(a => a.Compra.NoComprobante, new
                                                                           {@class="form-control",@id="nocomprobante", @placeholder="No. Comprobante"})
                                            @Html.ValidationMessageFor(a => a.Compra.NoComprobante, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">Codigo Del Vendedor</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @Html.TextBoxFor(a => a.Compra.EmpleadoId, new
                                                                           {@class="form-control",@id="empleadocompraid", @placeholder="Codigo Empleado"})
                                            @Html.ValidationMessageFor(a => a.Compra.EmpleadoId, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label>Proveedor</label>
                                        <select class="form-control select2bs4" style="width: 100%;"
                                            asp-for="Compra.ProveedorId" asp-items="@Model.ListaProveedores"
                                            id="proveedorselect">

                                        </select>

                                    </div>
                                    @if(@Model.Compra.TipoCompraId != 2)
                                    {
                                        <div class="col-md-6">
                                            <label>Tipo</label>
                                            <select class="form-control select2bs4" style="width: 100%;"
                                                asp-for="Compra.TipoCompraId" asp-items="@Model.ListaTipoCompra"
                                                id="tipolistaselect">
                                            </select>
                                        </div>
                                    }
                                    else 
                                    {
                                        <div class="col-md-6">
                                            <label>Tipo</label>
                                            <select class="form-control select2bs4" style="width: 100%;"
                                                asp-for="Compra.TipoCompraId" asp-items="@Model.ListaTipoCompra"
                                                id="tipolistaselect" disabled="disabled" readonly="readonly">
                                            </select>
                                        </div>
                                    }
                                    
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="position-relative form-group"><label class="">Fecha Limite</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @* @Html.TextBoxFor(a => a.Compra.FechaLimite, new {@class="form-control",@id="fechalimitee", @placeholder="Fecha Limite", @type= "text"}) *@
                                            <input type="text" class="form-control" id="fechalimite" asp-for="Compra.FechaLimite" >
                                            @Html.ValidationMessageFor(a => a.Compra.FechaLimite, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div>
                                    @* <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">Fecha Recepcion</label>
                                            @Html.TextBoxFor(a => a.Compra.FechaRecepcion, new
                                                                           {type="date", @class="form-control",@id="fecharecepcion",
                                                                               @placeholder="Direccion"})
                                            @Html.ValidationMessageFor(a => a.Compra.FechaRecepcion, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div> *@
                                </div>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label class="">Observación</label>
                                            @* <textarea class="form-control" placeholder="Ingredientes"></textarea> *@
                                            @Html.TextAreaFor(a => a.Compra.Observaciones,5,500 ,htmlAttributes : new {
                                                            @class="form-control ", @placeholder="Observación", @style="max-width:100% !important;", @id="observacion"})
                                            @* @Html.TextAreaFor(a => a.Producto.Descripcion, new { htmlAttributes = new { @class =
                                                "form-control"} }) *@
                                            @Html.ValidationMessageFor(a => a.Compra.Observaciones, "", new { @class = "text-danger"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane tabs-animation fade show " id="tab-content-2" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class='table table-hover' id="tablecompra">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        @* <th>Descuento</th> *@
                                        @* <th>Subtotal</th> *@
                                        <th>Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="contentdetalle">
                                    @if(Model.Compra != null)
                                    {
                                        foreach (var item in Model.Compra.DetalleCompras)
                                        {
                                        <tr>
                                        <td class="idProd">@item.Id</td>
                                        <td>@item.Producto.NombreProducto</td>
                                        <td class="cantidad-fila"><input type="number" step="any" value="@item.Cantidad" class="form-control" onchange="editarValorFila(this)" ></td>
                                        <td class="precio-fila"><input type="number" step="any" value="@item.Precio" class="form-control"  onchange="actualizarPreciosVenta()"></td>
                                        <td class="total-t">@item.PrecioTotal</td>
                                        <td><button  type="button"  class="btn btn-danger btn-sm" onclick="eliminarFila(this,@item.Precio)">Quitar</button></td>
                                        <td style="display: none;" >@item.Producto.Id</td>
                                    </tr>
                                        }
                                    }

                                </tbody>
                                
                            </table>


                        </div>

                            <br/>
                            
                            <div class="text-right" style="font-size: 25px;">
                                <span>Total:</span> 
                            Q <span id="precio-total-a-pagar">0.00</span> 
                            </div> 
                        @* <h1>Detalle de la venta</h1> *@
                    </div>
                </div>
            </div>

                <div class="tab-pane tabs-animation fade show " id="tab-content-3" role="tabpanel">
                                                <br />
                            <form asp-action="Nuevo" method="get">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <input value="Buscar" class="btn btn-success" onclick="FiltrarProductos(document.getElementById('buscarfiltro').value)"></input>
                                        </div>
                                        <input type="text" name="buscar" id="buscarfiltro" class="form-control"
                                            placeholder="Buscar Producto...">
                                    </div>
                                </div>
                            </form>
                            <br />

                            <div class="main-card mb-6 card">
                                <div class="container-fluid">
                                    <div class="card-body my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                        <div class="card-deck-wrapper">
                                            <div class="card-deck">
                                                <div class="row" id="listafiltro">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>

            </div>
        </div>

    </div>

    


