@* @using Database.Shared.Paginacion;
@model PaginacionList<Database.Shared.Models.Caja>  *@

@model sistema.Models.CajaClinicaBaseViewModel

 @await Html.PartialAsync("_MensajeExito")


    <div class="form-row">
           
                <div class="col-md-6">
                     <form asp-controller="CajaClinica" asp-action="Aperturar" method="post">
                    <div class="main-card mb-3 card">
                        <div class="card-body">

                            <div class="text-center">
                                <div class="position-relative form-group"><label for="exampleEmail11" class="">Monto Apertura</label>
                                    @Html.TextBoxFor(a => a.CajaClinica.MontoApertura, new {@class="form-control", @placeholder="Monto a Aperturar"})
                                    @Html.ValidationMessageFor(a => a.CajaClinica.MontoApertura, "", new { @class = "text-danger"})
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary text-center">Abrir caja</button>

                        </div>
                    </div>
                    </form>
                </div>

           

          
                <div class="col-md-6">
                     <form asp-controller="" asp-action="" method="post">
                    <div class="main-card mb-3 card">
                        <div class="card-body">

                            <div class="text-center">
                                <div class="position-relative form-group"><label for="exampleEmail11" class="">Rango de fechas</label>
                                   <div class="input-group">
                            <input type="text" class="form-control float-right" id="reservationtime" name="fecha">
                           </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary text-center">Generar Pdf</button>

                        </div>
                    </div>
                     </form>    
                </div>

           


</div>



<div class="form-row">
 <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        
                        <div class="form-row">
                            <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="mb-0 table table-hover ">
                                                    <thead>
                                                    <tr>
                                                        <th>Fecha Apertura</th>
                                                        <th>Monto Apertura</th>
                                                        <th>Gastos</th>
                                                        <th>Ingresos</th>
                                                        <th>Total Cierre</th>
                                                        <th>Acciones</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach(var item in Model.ListaCajas)
                                                        {
                                                            @if(item.EstadoCaja == true)
                                                            {
                                                                <tr class="bg-success">
                                                                     <td>@item.FechaApertura</td>
                                                                    <td>@item.MontoApertura</td>
                                                                    <td>@item.DetalleCajaClinicas.Sum(x=>x.Gasto)</td>
                                                                    <td>@item.DetalleCajaClinicas.Sum(x=>x.Ingreso)</td>

                                                                    @{
                                                                        decimal suma1 = item.DetalleCajaClinicas.Sum(x=>x.Ingreso - x.Gasto);
                                                                        decimal  montoap = item.MontoApertura;

                                                                        decimal res= suma1 + montoap;


                                                                    }

                                                                    <td>@res</td>
                                                                    <td> 
                                                                        <a href="@Url.Action("VerDetalle","CajaClinica", new {id = @item.Id})" class="btn btn-warning btn-sm">
                                                                            Ver Detalle
                                                                        </a>
                                                                        
                                                                    </td>
                                                                </tr>
                                                            }
                                                            else 
                                                            {
                                                                <tr>
                                                                    <td>@item.FechaApertura</td>
                                                                    <td>@item.MontoApertura</td>
                                                                    <td>@item.DetalleCajaClinicas.Sum(x=>x.Gasto)</td>
                                                                    <td>@item.DetalleCajaClinicas.Sum(x=>x.Ingreso)</td>
                                                                    
                                                                    @{
                                                                        decimal suma1 = item.DetalleCajaClinicas.Sum(x => x.Ingreso - x.Gasto);
                                                                        decimal  montoap = item.MontoApertura;

                                                                        decimal res= suma1 + montoap;
                                                                    }

                                                                    <td>@res</td>
                                                                    <td> 
                                                                        <a href="@Url.Action("VerDetalle","CajaClinica", new {id = @item.Id})" class="btn btn-warning btn-sm">
                                                                            Ver Detalle
                                                                        </a>
                                                                        
                                                                    </td>
                                                                </tr>
                                                            }
                                                   
                                                        }
                                                    </tbody>
                                                </table>
            </div>
                               
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
</div>

@section Scripts
{

<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/js/daterangepicker.js"></script>
<script type="text/javascript" src="~/js/tempusdominus-bootstrap-4.min.js"></script>

<script>
   $(function(){
        $('.select2').select2({
            tags: true
        });
        
    $('.select2bs4').select2({
      theme: 'bootstrap4',
      tags: true,
    });

          $('#reservationtime').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    locale: {
                        format: 'MM/DD/YYYY hh:mm A'
                    }
                });
    });


    
</script>
}

@section css
{
    <link href="~/css/daterangepicker.css" rel="stylesheet">
}
