@* @using Database.Shared.Paginacion;
    @model PaginacionList<Database.Shared.Models.Caja> *@

@model sistema.Models.CajaBaseViewModel

@{

    decimal totalVenta = 0.00m;

    decimal totalVentaServ = 0.00m;

    decimal totalCompra = 0.00m;

    decimal totalIngreso = 0.00m;

    decimal totalEgreso = 0.00m;
}

@await Html.PartialAsync("_MensajeExito")

    <div class="form-row">
        <div class="col-md-12">

            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">

                        <button type="button" class="btn btn-primary" onclick="GuardarIngreso(@Model.Caja.Id)">Nuevo Ingreso</button>
                        <button type="button" class="btn btn-primary" onclick="GuardarEgreso(@Model.Caja.Id)">Nuevo Egreso</button>
                        <a href="@Url.Action("Cerrar","Caja", new {id = @Model.Caja.Id})"
                            class="btn btn-primary text-left">
                            Cerrar caja
                        </a>
                        <a href="@Url.Action("ReporteDetalle","Caja", new {id = @Model.Caja.Id})"
                            class="btn btn-primary text-left">
                            Generar PDF
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>



<div class="form-row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h4>Ventas</h4>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="mb-0 table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Fecha Venta</th>
                                        <th># Venta</th>
                                        <th>Comprobante</th>
                                        <th>Descripción</th>
                                        <th>Cliente</th>
                                        <th>Vendedor</th>
                                        <th>Monto Pagado</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Caja.DetalleCajas
                                    .Where(a => a.Venta != null).OrderByDescending(a=>a.Venta.FechaVenta))
                                    {
                                        <tr>
                                            <td>@item.Venta.FechaVenta</td>
                                            <td>@item.Venta.Id</td>
                                            <td>
                                                @if (String.IsNullOrEmpty(item.Venta.NoComprobante))
                                                {
                                                    <span>CF</span>

                                                }

                                                else

                                                {
                                                    <span>@item.Venta.NoComprobante</span>

                                                }
                                            </td>
                                            <td>@item.Descripcion</td>
                                            <td>
                                                @if(item.Venta.Clientes != null)
                                                {
                                                    @item.Venta.Clientes.Nombre
                                                }
                                            </td>
                                            <td>@item.Venta.Empleado.Nombre</td>
                                            <td>Q @item.Ingreso</td>
                                        </tr>

                                        totalVenta += item.Ingreso;

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="text-right" style="font-size: 17px;">
                    <span>_____________________</span><br/>
                    Q <span>@totalVenta</span>
                </div> 
            </div>

        </div>
    </div>
</div>


<div class="form-row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h4>Compras</h4>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="mb-0 table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Fecha Compra</th>
                                        <th>Comprobante</th>
                                        <th>Descripción</th>
                                        <th>Proveedor</th>
                                        <th>Vendedor</th>
                                        <th>Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Caja.DetalleCajas.Where(a => a.Compra != null).OrderByDescending(a=>a.Compra.FechaCompra))
                                    {
                                        <tr>
                                            <td>@item.Compra.FechaCompra</td>
                                            <td>
                                                @if (String.IsNullOrEmpty(item.Compra.NoComprobante))



                                                {
                                                    <span>CF</span>

                                                }

                                                else

                                                {
                                                    <span>@item.Compra.NoComprobante</span>

                                                }
                                            </td>
                                            <td>@item.Descripcion</td>
                                            <td>@item.Compra.Proveedor.Nombre</td>
                                            <td>@item.Compra.Empleado.Nombre</td>
                                            <td>Q @item.Gasto</td>
                                        </tr>

                                        totalCompra += item.Gasto;

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                     <div class="text-right" style="font-size: 17px;">
                    <span>_____________________</span><br/>
                    Q <span>@totalCompra</span>
                </div>
            </div>

        </div>
    </div>
</div>

@* <div class="form-row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h4>Venta de Servicios</h4>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="mb-0 table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Fecha Venta</th>
                                        <th>Comprobante</th>
                                        <th>Descripción</th>
                                        <th>Cliente</th>
                                        <th>Vendedor</th>
                                        <th>Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Caja.DetalleCajas.Where(a => a.VentaServicio != null).OrderByDescending(a=>a.VentaServicio.FechaVenta))



                                    {
                                        <tr>
                                            <td>@item.VentaServicio.FechaVenta</td>
                                            <td>
                                                @if (String.IsNullOrEmpty(item.VentaServicio.NoComprobante))



                                                {
                                                    <span>CF</span>

                                                }

                                                else

                                                {
                                                    <span>@item.VentaServicio.NoComprobante</span>

                                                }
                                            </td>
                                            <td>@item.Descripcion</td>
                                            <td>@item.VentaServicio.Paciente.Nombre</td>
                                            <td>@item.VentaServicio.Empleado.Nombre</td>
                                            <td>Q @item.Gasto</td>
                                        </tr>

                                        totalVentaServ += item.Ingreso;

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                 <div class="text-right" style="font-size: 17px;">
                    <span>_____________________</span><br/>
                    Q <span>@totalVentaServ</span>
                </div>
            </div>

        </div>
    </div>
</div> *@

<div class="form-row">
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h4>Ingresos</h4>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="mb-0 table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Fecha Ingreso</th>
                                        <th>Descripción</th>
                                        <th>Total</th>
                                        <th>Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Caja.DetalleCajas.Where(a => a.Ingreso != 0.00m && a.Venta==null && a.VentaServicio==null).OrderByDescending(a=>a.Fecha))
                                    {
                                        <tr>
                                            <td>@item.Fecha</td>
                                            <td>@item.Descripcion</td>
                                            <td>Q @item.Ingreso</td>
                                            <td>
                                                <a  class="btn btn-danger text-white" onclick="eliminarDetalle(@item.Id)">
                                                    Quitar
                                                </a>
                                            </td>
                                        </tr>

                                        totalIngreso += item.Ingreso;

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                    <div class="text-right" style="font-size: 17px;">
                    <span>_____________________</span><br/>
                    Q <span>@totalIngreso</span>
                </div>
            </div>

        </div>
    </div>
     <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h4>Egresos</h4>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="mb-0 table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Fecha Venta</th>
                                        <th>Descripción</th>
                                        <th>Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Caja.DetalleCajas.Where(a => a.Gasto != 0.00m && a.Compra == null).OrderByDescending(a=>a.Fecha))
                                    {
                                        <tr>
                                            <td>@item.Fecha</td>
                                            <td>@item.Descripcion</td>
                                            <td>Q @item.Gasto</td>
                                            <td>
                                                <a class="btn btn-danger text-white" onclick="eliminarDetalle(@item.Id)">
                                                    Quitar
                                                </a>
                                            </td>
                                        </tr>
                                        totalEgreso += item.Gasto;
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                    <div class="text-right" style="font-size: 17px;">
                    <span>_____________________</span><br/>
                    Q <span>@totalEgreso</span>
                </div>
            </div>

        </div>
    </div>
</div>


@{

    decimal sumaing = totalVenta + totalVentaServ + totalIngreso;
    decimal sumaeg = totalCompra + totalEgreso;
    decimal res = sumaing - sumaeg + Model.Caja.MontoApertura;
}

<div class="form-row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="text-right" style="font-size: 17px;">
                    <span>Monto Apertura:</span>
                    Q <span>@Model.Caja.MontoApertura</span>
                </div>
                <div class="text-right" style="font-size: 17px;">
                    <span>Total Egresos:</span>
                    Q <span>@sumaeg</span>
                </div>
                <div class="text-right" style="font-size: 17px;">
                    <span>Total Ingresos</span>
                    Q <span>@sumaing</span>
                </div>
                <div class="text-right" style="font-size: 17px;">
                    <span>Total Cierre:</span>
                    Q <span>@res</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/js/FuncionesCaja.js"></script>

<script>
    function eliminarDetalle(id)
    {
        var datos = {"detalleId" : id}

        if(confirm('¿Está seguro/a que desea eliminar este registro? Los cambios no se podrán revertir.'))
        {
            $.ajax({
                method: "POST",
                data: datos,
                @* "dataType": "json", *@
                @* "contentType": "application/json", *@
                url: '/Caja/EliminarDetalle',
                traditional: true,

                success: function(data, textStatus) {
                    window.location.reload()
                },

                error: function(data) {
                    alert(data.error);
                }
            });
        }
    }
</script>
}